#retailer-contact label, #retailer-address label, .retailer-street-number, .retailer-zip-city {
	display: inline-block;
	width: 100px;
}

#retailer-address .retailer-street-number label, #retailer-address .retailer-zip-city label {
	width: auto;
}

.retailer-map {
	border: 2px solid #dfdfdf;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	height: 400px;
	width: 400px;
}